<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container img">
<div class="row">
<div class="col-6 mx-auto border border-2 border-primary rounded wrap">

<table  class='table' >

  <div class="field form-group input-container">
    <i class="fa fa-user icon"></i>
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control border-info input-field" %>
  </div>
   <br>
  <div class="field form-group">
    <i class="glyphicon glyphicon-home"></i>
    <%= form.label :address %>
    <%= form.text_field :address,class:"form-control border-info " %>
  </div>
<br>
  <div class="field form-group">
     <i class="fa fa-phone" aria-hidden="true"></i>
     <%= form.label :contact_number %>
    <%= form.number_field :contact_number,class:"form-control border-info" %>
  </div>
<br>
<br>
  <div class="field form-group">
    <i class="fa fa-id-badge" style="font-size:20px"></i>
    <%= form.label :age %>
    <%= form.number_field :age,class:"form-control border-info" %>
  </div>
<br>
<br>
  <div class="field form-group">
  <i class="fa fa-envelope icon"></i>
    <%= form.label :email %>
    <%= form.text_field :email,class:"form-control border-info" %>
  </div>
<br>
<div class="field">
<i class='far fa-calendar-alt' style='font-size:24px'></i>
<%= form.label :date %>
<%= form.date_select :date%>
</div>


<br>
  <div class="field form-group ">
    <%= form.number_field :user_id , id: :friend_user_id, class:"form-control",value:current_user.id,type: :hidden %>
  </div>
  
<br>
  <div class="actions ">
    <%= form.submit 'Book Appointment ',class:"btn btn-outline-primary"%>
  </div>
  </table>
  </div>
  </div>
  </div>
<% end %>
